// Courtesy of: http://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}