{% extends "layout.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css')}}" media="screen,projection"/>
{% endblock %}
{% block body %}
  {% if session.logged_in %}

    <form action="{{ url_for('send_mail') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input class="input-field col s12 center-align" type=text size=30 name=title>
        <dt>Text:
        <dd><textarea class="input-field col s12 center-align" name=body rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}