{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
  {% if session.logged_in %}

    <form action="{{ url_for('send_mail') }}" method=post class=add-entry>
        <div class="row">
          <div class="input_field col offset-l2 l8 s12">
        <input class="validate" type=text size=30 name=title>
        <label for="title">Title</label></div></div>
        <div class="row">
          <div class="input-field col offset-l2 l8 s12">
        <textarea name=body rows=5 cols=40></textarea>
            <label for="body">Body</label></div></div>
      <div class="row">
        <div class="col offset-l2 l8 s12">
        <input type=submit value=Share></div></div>

    </form>
  {% endif %}
{% endblock %}