{% extends "layout.html" %}
{% block head %}
    <title>System Login</title>
    <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='css/index.css')}}" media="screen,projection"/>
{% endblock %}
{% block body %}

{% if not session.logged_in %}
<div class="row">
    <div class="col s16 offset-s3 m6 offset-m3">
        <div class="card-panel white">
            <h5 class="card-title center-align unselectable">Sign up</h5>
            {% if error %}
            <div class="chip unselectable">
                <strong>Error:</strong> {{ error }}
            </div>
            {% endif %}

            {% for message in get_flashed_messages() %}
            <div class="chip">
                {{ message }}<i class="close material-icons">close</i>
            </div>
            {% endfor %}
            <form action="{{ url_for('add_user') }}" id="login-form" method=post>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">assignment_ind</i>
                        <input name="tax_id" id="tax_id" type="password" class="validate">
                        <label for="tax_id">Tax ID#</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="precinct" id="precinct" type="text" class="validate">
                        <label for="precinct">Precinct</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="sector" id="sector" type="text" class="validate">
                        <label for="sector">Sector</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="first_name" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="last_name" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="account_sid" id="account_sid" type="text" class="validate">
                        <label for="account_sid">Account SID</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix unselectable">https</i>
                        <input name="auth_token" id="auth_token" type="text" class="validate">
                        <label for="auth_token">Authorization Token</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col offset-l1 l10 s12 center-align">
                        <button class="btn" type="submit" name="action" value="Login">Register</button>
                    </div>
                </div>
            </form>
            <li><a href="{{ url_for('login') }}">login</a></li>
        </div>
    </div>
</div>
{% else %}
    Select what is next
{% endif %}

{% endblock %}
