{% extends "layout.html" %}
{% block body %}
<h4>Report Viewer</h4>
<!-- Loop through  -->
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">my_location</i>
                <input id="event_location" type="text" class="validate">
                <label for="event_location">Event Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">chat_bubble_outline</i>
                <textarea id="event_desc" class="materialize-textarea"></textarea>
                <label for="event_desc">Event Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">contacts</i>
                <input id="event_reporter" type="text" class="validate">
                <label for="event_reporter">Event Reporter</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}